**/*.out
**/*.dll
**/*.o
**/*.so
**/*.pyd
**/*.exe
**/*.gch
**/*_wrap.cxx
**/.ipynb_checkpoints
**/__pycache**
**/*.test
**/.DS_Store

# debug
**/*.dSYM

# xcode
**/*.xcuserstate
**/*.xcbkptlist

# cmake generated folders
build/
debug/
release/
xcode/
_codeql_build_dir/

# trace from instrument
**/*.trace/

# CodeQL
_codeql_detected_source_root
