**/*.out
**/*.dll
**/*.o
**/*.so
**/*.pyd
**/*.exe
**/*.gch
**/*_wrap.cxx
**/.ipynb_checkpoints
**/__pycache**
**/*.test

# generated boards
**/board_*.txt
# program output
**/output.txt
**/.DS_Store
**/*.pazusoba

# debug
**/*.dSYM

# xcode
**/*.xcuserstate
**/*.xcbkptlist

# cmake genrated folders
build/
debug/
release/
xcode/

# trace from instrument
**/*.trace/

pazusoba