**/.vscode
**/*.out
**/*.dll
**/*.o
**/*.pyd
**/*.exe
**/*.gch
**/*_wrap.cxx
**/.ipynb_checkpoints
**/__pycache**

# generated boards
**/board_*.txt
# program output
**/output.txt
**/.DS_Store
**/*.pazusoba

# debug
**/*.dSYM

# xcode
**/*.xcuserstate
**/*.xcbkptlist
